.listResto{
    margin:5% 15% 0 15%;
}

.searchResto{
    margin: 2% 10% 0 10%;
}

.btn-add{
    margin: 10px 10px 0 10px;
    color: lime;
    font-size: 20px;
}
.btn-trash{
    float: right;
    margin: 0 10px 0 10px;
}
.btn-edit{
    float: right;
}
